<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') %>
</head>
<body>
<%- include('partials/nav') %>


registerevent
    
<%- include('partials/footer') %>
</body>

</html>