<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') %>
</head>
<body>
<%- include('partials/header') %>

<div>
    <% if(success) { %>
        <% result.forEach(name=>{ %>
            <div>
                <%= name %>
            </div>
        <% }) %>
    <% } else { %>
        <div><%= error %></div>
    <% } %>
</div>

</body>
</html>


    