<div id="header">
    <a href="/">
        <div id="home">
            <h3> 팬 MOA </h3>     
        </div>
    </a>
    <a href="/mypage">
        <div id="mypage">
            mypage
        </div>
    </a>
</div>
